<!doctype html>
<!--[if lt IE 7]> <html class="lt-ie9 lt-ie8 lt-ie7" lang="en-US"> <![endif]-->
<!--[if IE 7]>    <html class="lt-ie9 lt-ie8" lang="en-US"> <![endif]-->
<!--[if IE 8]>    <html class="lt-ie9" lang="en-US"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en" ng-app="mainModule">
<!--<![endif]-->
<head>
<!-- META TAGS -->
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>小夏的博客</title>

<link rel="shortcut icon" href="images/favicon.png" />




<!-- Style Sheet-->
<link rel="stylesheet" href="style.css" />
<link rel='stylesheet' id='bootstrap-css-css'
	href='css/bootstrap5152.css?ver=1.0' type='text/css' media='all' />
<link rel='stylesheet' id='responsive-css-css'
	href='css/responsive5152.css?ver=1.0' type='text/css' media='all' />
<link rel='stylesheet' id='pretty-photo-css-css'
	href='js/prettyphoto/prettyPhotoaeb9.css?ver=3.1.4' type='text/css'
	media='all' />
<link rel='stylesheet' id='main-css-css' href='css/main5152.css?ver=1.0'
	type='text/css' media='all' />
<link rel='stylesheet' href="kqtj/css/style.css" type='text/css' media='all' />
<link href="kqtj/css/fileinput.css" media="all" rel="stylesheet" type="text/css" />
<!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
<!--[if lt IE 9]>
                <script src="js/html5.js"></script></script>
                <![endif]-->


</head>

<body  ng-controller="mainCtrl">

	<!-- Start of Header -->
	<div class="header-wrapper">
		<header>
			<div class="container">
				<div class="logo-container">
					<!-- Website Logo -->
				    <a class="logo-span" href="/PetForum" title="SUMMER"><span>SUMMER</span></a>
					 <span class="tag-line">小夏的博客</span>
				</div>
				<!-- Start of Main Navigation -->
				<nav class="main-nav">
					<div class="menu-top-menu-container">
						<ul id="menu-top-menu" class="clearfix">
							<li class="current-menu-item"><a href="/PetForum">首页</a></li>
							<li><a href="sendActical.html">发布信息</a></li>
							<!--  
							<li><a href="index-2.html">关于我们</a></li>
							<li><a href="contact.html">加入我们</a></li>
							-->
							<li class="dl-li"><a href="login/login.html">登录</a></li>
							<li class="gr-li"><a href="javascript:0" module-click  ng-bind-template="欢迎您:{{userName}}"></a>
							    <div class="menu-me-container">
							        <ul>
							            <li><a>个人中心</a></li>
							            <li><a ng-click="zx()">注销</a></li>
							        </ul>
							    </div>
							</li>
						</ul>
					</div>
					<select class="responsive-nav">
					    <option value="list"> 首页</option>
					    <option value="fb"> 发布信息</option>
					    <!-- 
					    <option value="about"> 关于我们</option>
					    <option value="join"> 加入我们</option>
					     -->
					    <option value="login"> 登录</option>
					    <option value="me"> 个人中心 </option>
					    <option value="zx"> 注销 </option>
				    </select>
				</nav>
				<!-- End of Main Navigation -->
			</div>
		</header>
	</div>
	<!-- End of Header -->
	<!-- Start of Page Container -->
	<div class="page-container">
		<div class="container">
			<div class="row">
				<!-- start of sidebar -->
				<aside class="span4 page-sidebar">
					<section class="widget" ng-controller="userCtrl">
					    	<div class="grzl-dyn-left">
								  <div class="grsz-user-dyn">
										<img id="wszlImg" ng-src="{{userInfo.headUrl}}">
										<div class="grsz-user-img edit"><input id="grzytx" name="filepic" class="file" 
										type="file" multiple data-upload-url="./actical/uploadPicFile" title=" " >
										</div>
										<div class="yhtx-waiting">
							                 <img src="kqtj/images/loading.gif">
							            </div>
									</div>
									<div class="text-center">
						                <label class="help-details user-name-label" ng-bind="userInfo.userName"></label>
							            <input type="text" ng-model="userInfo.userName" class="other-input ng-pristine ng-valid" ng-change="pdName()" style="display: none;">
								    </div>
							  	  <div class="bs-example">
							  	  	<p class="help-name ng-binding">邮箱</p>
							  	  	<p style="font-size:16px;" ng-bind="userInfo.email"></p>
							  	  </div>
							  	  <div class="bs-example">
							  	  	<p class="help-name ng-binding">手机号</p>
							  	  	<p class="help-details" style="font-size:16px;" ng-bind="userInfo.tel"></p>
							  	  	<input type="text" ng-model="userInfo.tel" class="other-input ng-pristine ng-valid" ng-change="pdName()" style="display: none;">
							  	  </div>
							  	  <div class="edit-code-dyn">
							        <div class="bs-temp edit-temp pointer before-bj ng-binding" ng-click="pdxb()" beforebj="" style="display: block;">编辑个人资料</div>
							        <div class="bs-temp edit-temp pointer after-bj" style="display: none;">
						        		<div class="bs-temp edit-temp pointer edit-zl ng-binding" ng-click="updUserInfo();" btnbc="">保存</div>
						        		<div class="bs-temp edit-temp pointer edit-zl ng-binding" ng-click="cancel();" btnqx="">取消</div>
					        		</div>
							        <div class="bs-temp edit-temp pointer ng-binding" data-toggle="modal" ng-click="updatePwd();">修改密码</div><!-- data-target="#xgmmModal" -->
							        <div class="clear"></div>
							      </div>
							  	  <div class="samp-new-dyn">
							  	   <li ui-sref="mySend">
							  	  		<span class="samp-tit ng-binding">发布</span>
							  	  		<span class="samp-con pointer ng-binding" ng-bind="sendNum" ></span>
							  	  		<div class="question-hr anser-hr"></div>
							  	  	</li>
							  	  	<li ui-sref="myReplay">
							  	  		<span class="samp-tit ng-binding">回复</span>
							  	  		<span class="samp-con pointer ng-binding" ng-bind="replyNum" ></span>
							  	  		<div class="question-hr anser-hr"></div>
							  	  	</li>
							  	  	<li ui-sref="myInfo">
							  	  		<span class="samp-tit ng-binding">消息</span>
							  	  		<span class="samp-con pointer ng-binding" ng-bind="infoNum" ></span>
							  	  		<div class="question-hr anser-hr"></div>
							  	  	</li>
							  	  </div>
						  	  </div>
					</section>
				</aside>
				<!-- end of sidebar -->
				<div class="span8 main-listing" ui-view>

                </div>
			</div>
		</div>
	</div>
	<!-- End of Page Container -->

	<!-- Start of Footer -->
	<footer id="footer-wrapper">
		<!-- Footer Bottom -->
		<div id="footer-bottom-wrapper">
			<div id="footer-bottom" class="container">
				<div class="row">
					<div class="span6">
						<p class="copyright">
							Copyright © 2014-2016 YUNZHUJIA.CN .All Rights Reserved.苏ICP备13020149号
						</p>
					</div>
					<div class="span6">
						<!-- Social Navigation -->
						<ul class="social-nav clearfix">
							<li class="linkedin"><a target="_blank" href="#"></a></li>
							<li class="stumble"><a target="_blank" href="#"></a></li>
							<li class="google"><a target="_blank" href="#"></a></li>
							<li class="deviantart"><a target="_blank" href="#"></a></li>
							<li class="flickr"><a target="_blank" href="#"></a></li>
							<li class="skype"><a target="_blank" href="skype:#?call"></a></li>
							<li class="rss"><a target="_blank" href="#"></a></li>
							<li class="twitter"><a target="_blank" href="#"></a></li>
							<li class="facebook"><a target="_blank" href="#"></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<!-- End of Footer Bottom -->

	</footer>
	<!-- End of Footer -->

	<a href="#top" id="scroll-top"></a>
   	<!-- 消息通知 -->
    <div class="alert-info-dyn" id="info-alert">
        <div class="alert alert-info alert-dismissible" role="alert">
		  <button type="button" class="close" close-alert data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only"></span></button>
		  	提示
		</div>
		<div class="write-round-dyn" return-info>
		    {{message}}
		</div>
    </div>
    <!-- 弹出框提示 -->
  <div class="info-dyn info-sz-dyn">
      <div class="info-detail-dyn sz-dyn">
      </div>
      <span class="glyphicon glyphicon-remove pointer"></span>  
    </div>
    <!-- 修改密码弹出框 -->
  <div class="modal fade" style="display: none;" role="dialog" id="xgmmModal" aria-labelledby="gridSystemModalLabel" ng-controller="updatePassController" >
    <div class="modal-dialog user-dialog" role="document">
      <div class="modal-content">
       
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <div class="modal-title" id="gridSystemModalLabel">修改密码</div>
        </div>
        <div class="modal-body"><!-- -->
           <div class="container-fluid">
            <!-- 下拉框通过angularjs数据绑定,将下拉值绑定到div中 -->
            <form id="editPassForm" class="form-signin dl-dyn-input" name="editPassForm">
            <div class="sel-input-group">
              <label>原密码</label>
              <div class="box-item-right">
                <label class="inp-select inp-ele">
                  <div class="select-val">
                    <input type="password" id="up_oldPassword" name="up_oldPassword" ng-model="up_oldPassword" required="" ng-pattern="/^[a-zA-Z\d]{6,16}$/"/>
                  </div> 
                </label>
              </div>
            </div>
            <div class="sel-input-group">
              <label>新密码</label>
              <div class="box-item-right">
                <label class="inp-select inp-ele">
                  <div class="select-val">
                    <input type="password" id="up_password" name="up_password" ng-model="up_password" required/>
                  </div> 
                </label>
              </div>
            </div>
            <div class="sel-input-group">
              <label> 确认密码</label>
              <div class="box-item-right">
                <label class="inp-select inp-ele">
                  <div class="select-val">
                    <input type="password" name="up_repeatPassword" ng-model="up_repeatPassword" required  />
                  </div> 
                </label>
              </div>
            </div>
            <button type="submit" class="btn btn-info btn-lg btn-block">提交</button>
            </form>
          </div>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
    
	<!-- script -->
	<script type='text/javascript' src="kqtj/js/jquery.min.js"></script>
	<script type="text/javascript" src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
	<script type='text/javascript' src="js/jquery.easing.1.34e44.js"></script>
	<script type='text/javascript'
		src="js/prettyphoto/jquery.prettyPhotoaeb9.js"></script>
	<script type='text/javascript' src="js/jquery.liveSearchd5f7.js"></script>
	<script type='text/javascript' src="js/jflickrfeed.js"></script>
	<script type='text/javascript' src="js/jquery.formd471.js"></script>
	<script src="kqtj/js/jquery.twbsPagination.js" type="text/javascript"></script>
	<script type='text/javascript' src="js/jquery.validate.minfc6b.js"></script>
	<script type='text/javascript' src="js/custom5152.js"></script>
	<script type='text/javascript' src="kqtj/js/util.js"></script>
	<script type="text/javascript" src="angular/angular.js"></script>
    <script type="text/javascript" src="angular/angular-ui-router.js"></script>
    <script type="text/javascript" src="angular/angular-sanitize.min.js"></script>
    <script type="text/javascript" src="angular/angular-resource.min.js"></script>
    <script src="bower_components/angular-websocket/dist/angular-websocket.min.js"></script>
     <script src="kqtj/js/fileinput.js" type="text/javascript"></script>
    
    <script src="main/js/user.js"></script>
    <script>
    var token = sessionStorage.getItem('token');
    $("#grzytx").fileinput({//上传哪些格式的图片
    	'maxFileCount':1,
    	'label':'&nbsp;',
    	'isHeaderImg':true,
    	ajaxSettings: {beforeSend:function(){
    		$('.edit').addClass('xgtx-gray');
    		$(".yhtx-waiting").show();
    	},headers:{'token' : token}}
    }); 
    $(".file-preview").hide(); 
    
    $(".glyphicon-plus").remove();
    $('.input-group').removeClass('add-img-icon');
    $('.btn-file').addClass('me-zl-filbtn');
    $(".file-preview").hide(); 
    </script>
</body>
</html>
