<meta charset="UTF-8">
<div ng-controller = "actCtrl">
	<!-- start of page content -->
		<article class=" type-post format-standard hentry clearfix" ng-repeat="actData in actDatas">

			<header class="clearfix">

				<h3 class="post-title relative">
					<a ui-sref="detail({id:actData.id})" ng-bind="actData.title"></a>
					<a href="javascript:0" class="del-list-btn" title="删除文章" ng-click="del(actData.userId,actData.id,$index)" ng-show="{{actData.userId|delfilter}}">删除</a>
				</h3>

				<div class="post-meta clearfix">
					<span class="date" ng-bind="actData.createTime"></span>
					<span class="category" title="{{actData.userInfo.userName}}" ng-bind-template="{{actData.userInfo.userName}}"></span>
					<span class="comments" title="{{actData.replyNum}}回复" ng-bind-template="{{actData.replyNum}} Comments">
				</div>
				<!-- end of post meta -->

			</header>
			<p>
				{{actData.abstext}} <a class="readmore-link"
					ui-sref="detail({id:actData.id})">Read
					more</a>
			</p>
			<div class="thumb" ng-hide = {{actData.titleImgArr.length==0}}>
			    <a target="_blank" href="{{titleImg | imgfilter}}" ng-repeat="titleImg in actData.titleImgArr">
			       <img ng-src="{{titleImg | imgfilter}}" />
				</a>
			</div>
		</article>

		<div id="pagination" class="pagination">
		</div>

	<!-- end of page content -->
</div>