<meta charset="UTF-8" />
<div ng-controller="wzxqCtrl">
   <!-- start of page content -->
       <article class=" type-post format-standard hentry clearfix">
           <h1 class="post-title"><a href="#" ng-bind="actData.title"></a></h1>
           <div class="post-meta clearfix">
                   <span class="date" ng-bind="actData.createTime"></span>
                   <span class="category" ng-bind="actData.userInfo.userName"></span>
                   <span class="comments" ng-bind-template="{{actData.replyNum}} Comments"></span>
           </div>
           <div class="top-question-ditails " ng-bind-html="actData.content | to_trusted"></div>
       </article>
       
       <section id="comments">
           <h3 id="comments-title" ng-bind-template="({{actData.replyNum}}) Comments"></h3>
           <ol class="commentlist">
               <li class="comment even thread-odd thread-alt depth-1" ng-repeat = "plListData in plListDatas">
                   <article id="comment-4">
                       <a>
                           <img  ng-src="{{plListData.headUrl | imgfilter}}" class="avatar avatar-60 photo">
                       </a>
                       <div class="comment-meta relative">
                           <a href="javascript:0" class="del-list-btn" title="回复" ng-click="comment(plListData.id,plListData.userId,plListData.content)">回复</a>
                           <h5 class="author">
                               <cite class="fn"><a rel="external nofollow" class="url" ng-bind = "plListData.userName"></a></cite>
                            </h5>
                           <p class="date">
                               <a>
                                   <time datetime="{{plListData.replyTime}}" ng-bind="plListData.replyTime"></time>
                                   <a href="javascript:0" class="del-list-btn" ng-show="{{plListData.userId|delfilter}}" title="删除" ng-click="delcomment(plListData.id)">删除</a>
                               </a>
                           </p>
                       </div>
                       <!-- end .comment-meta -->
                       <div class="comment-body">
                           <blockquote ng-show="plListData.replayContent !=null && plListData.replayContent !='' ">
                              <p ng-bind="plListData.replayName"></p>
							  <p ng-bind="plListData.replayContent"></p>
							</blockquote>
                           <p ng-bind="plListData.content"></p>
                       </div>
                       <!-- end of comment-body -->
                   </article>
                   <!-- end of comment -->
               </li>
               <div id="pagination" class="pagination">
				</div>
           </ol>
           <div id="respond">
               <h3>Leave a Reply</h3>
               <form data-parsley-validate="true" ng-submit="submit()">
                   <div class="ts-dl">
                       <label for="comment">评论前请先<a href="login/login.html">登录</a></label>
                   </div>
                   <div class="pl-content">
                       <label for="comment">评论内容 *</label>
                       <div>
                           <blockquote class="commentBlock" ng-show="{{commentFlag}}">
                              <button type="button" title="取消引用" class="close" ng-click="cancelComment()"><span aria-hidden="true">&times;</span></button>
							  <p ng-bind="commentInContent"></p>
						   </blockquote>
	                       <textarea class="span8" name="comment" id="comment" cols="58" placeholder="随便说点什么吧" ng-model="plData.content" required rows="10"></textarea>
                       </div>
                   </div>
                   <div class="pl-content">
                       <input class="btn" name="submit" type="submit" id="submit" value="提交评论">
                   </div>
               </form>
           </div>
       </section>
       <!-- end of comments -->
</div>
